.about {
    display: flex;
    //border: solid red;



    .details {
        margin: 5%;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-evenly;
        //border: solid blue;
    }

    .presentation {
        margin-left: 10px;
    }

}